.loginText {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}
.cart-image img {
     width: 250px; 
    height: 100%; 
    background-size: cover; }